@import './../../../../assets/style/colors.scss';
@import './../../../../assets/style/mixins.scss';


.admin-form{
    display: inline-block;
    height: 60px;
    margin: 20px 0 0 0;
    position: relative;
    width: 100%;
    @include boxSizing();

    &__control{
        display: inline-block;
        margin-right: 20px;
        position: relative;
        height: 100%;
        width:200px;
        @include boxSizing();


        &--checkMidle{
            position: absolute;
            padding-top: 31px; 
        }

        &--right{
            position: absolute;
            bottom: 0;
            right: 50px;
        }
    }


    &__input, &__select{
        display: inline-block;
        border: 1px solid #dddddd;
        outline: none;
        height: 40px;
        font-family: ProximaRegular;
        font-size: 18px;
        padding: 0  20px;
        position: absolute;
        bottom: 0;
        width: 100%;
        @include boxSizing();

        &--error{
            border: 1px solid $error;
            @include transition(all .3s);
        }

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-family: ProximaRegularThin;
            font-size: 18px;
            color:$text_input;
          }
        &::-moz-placeholder { /* Firefox 19+ */
            font-family: ProximaRegularThin;
            font-size: 18px;
            color:$text_input;
          }
        &:-ms-input-placeholder { /* IE 10+ */
            font-family: ProximaRegularThin;
            font-size: 18px;
            color:$text_input;
          }
        &:-moz-placeholder { /* Firefox 18- */
            font-family: ProximaRegularThin;
            font-size: 18px;
            color:$text_input;
          }
    }

    &__select{
        background-color: $text_white;
        @include borderRadius(0);

        -webkit-border-radius: 0px;
    }

    &__button{
        background-color: $green_main;
        color: $text_white;
        cursor: pointer;
        display: inline-block;
        font-family: ProximaRegularLight;
        font-size: 18px;
        border: 2px solid $green_main;
        height: 38px;
        padding: 0 20px;
        text-decoration: none;
        text-align: center;
        @include boxSizing();
        @include transition(all .3s);
    
        &:hover{
            background-color: $green_main_hover;
        }

        &--floatR{
            float: right;
        }

        &--absolute{
            position: absolute;
            bottom: 0;
            right: 0;
        }

        &--disabled{
            cursor: default;
            pointer-events: none;
            color: $text_second2;
        }
    }

    &__message{
        background-color: $yellow;
        font-family: ProximaRegularBold;
        color:$text_h;
        font-size: 14px;
        padding: 5px 10px;
        position: absolute;
        bottom: 0;
        height: 26px;
        top:50%;
        margin-top: -2px;
        cursor: pointer;
        @include boxSizing();
        @include borderRadius(2px);
    }

    &__error{
        
        display: inline-block;
        font-family: ProximaRegular;
        font-size: 14px;
        margin-bottom: 5px;
        color:$error;
        width: 100%;
        position: absolute;
        top:0;
        left:0;

        @include boxSizing();
    }

    &--absolute{
        position: absolute;
    }
}