<div class="admin-role">
    <form class="admin-form" [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="admin-form__control">
            <div class="admin-form__error" *ngIf="exists">Technology already exists</div>
            <input maxlength="30" 
                   placeholder="Name" 
                   type="text" 
                   formControlName="name" 
                   class="admin-form__input"
                   [ngClass]="{'admin-form__input--error': exists}">
        </div>
        <div class="admin-form__control">
             <div class="admin-form__error" *ngIf="invalid">Invalid image</div>
             <select class="admin-form__select" formControlName="domain">
                <option value="">Select domain</option>
                <option *ngFor="let domain of domains" value="{{domain}}">{{domain}}</option>
            </select>
        </div>
        <div class="admin-form__control">
            <select class="admin-form__select" formControlName="seniority">
                <option value="">Select seniority</option>
                <option *ngFor="let item of seniority" value="{{item}}">{{item}}</option>
            </select>
        </div>
        <div class="admin-form__control admin-form__control--checkMidle">
            <p-checkbox   
                        name="lead" 
                        value="{{leadrole}}" 
                        label="Lead Role" 
                        (onChange)="setRoleType()"
                        inputId="pr"></p-checkbox>
        </div>
        <div class="admin-form__control admin-form__control--right" *ngIf="editMode">
            <div (click)="resetForm()"  class="admin-form__message">Cancel Edit Mode</div>
        </div>

        <button 
            class="admin-form__button admin-form__button--floatR admin-form__button--absolute"
            type="submit"
            [disabled]="form.invalid"
            [ngClass]="{'admin-form__button--disabled':form.invalid}">
            SUBMIT
        </button>
    </form>


    <div class="admin-role__block" *ngFor="let domain of roles | keys">
        <h1 class="admin-role__header">{{domain}}</h1>
        <div (click)="setForm(role)" class="admin-role__item" 
              *ngFor="let role of roles[domain]" [ngClass]="{'admin-role__item--active':role.id===activeId }">
            <p class="admin-role__name">{{role.name}}</p>
            <p class="admin-role__seniority">{{role.seniority}}</p>
            <span *ngIf="role.leadrole" class="admin-role__lead">Lead Role</span>

            <delete-button style="delete-button--floatR delete-button--middleV"
                        (clicked)="deleteRole(role.id)">
            </delete-button> 
            <p class="admin-role__date">{{role.createdAt | date: 'dd.MM.yyyy'}}</p>
        </div>
    </div>
</div>