# Server files
/server/node_modules

# Client files
/client/.DS_Store
/client/node_modules/
/client/dist/
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/test/unit/reports/
/client/test/e2e/reports/
/client/test/e2e/reatures/undefined-steps.js
/client/selenium-debug.log

# Editor directories and files
.idea
.vscode
