<app-input id="Search" 
            placeholder="Search employee" 
            label="TEAM"
            boxStyle="input--small"
            clearStyle="input__clear--right20 input__clear--top30"
            wrapperStyle="input--width100"
            (onModelChanged)="filterEmployees($event)"></app-input>

<div class="employee-picker__wrapper">
    <list-item  *ngFor="let schedule of schedules" 
                [clickable]="true" 
                itemStyle="list-item--picker" 
                [model]="schedule"
                [roles]="roles"               
                (clicked)="selectEmployee()">
    </list-item>
</div>