@import './../../../assets/style/colors.scss';
@import './../../../assets/style/mixins.scss';



$green:#79A70A;
$green2:#9BC90D;

$red:$error;//#8F0808;
$red2:#F70505;

.ribbon{
    position: absolute;
    right: -5px; top: -5px;
    z-index: 10;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;

    &__text{
        font-size: 10px;
        font-weight: bold;
        font-family: ProximaRegular;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background: $green;
        background: linear-gradient( $green2 0%, $green 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 19px; right: -21px;

        &:before{
            content: "";
            position: absolute; left: 0px; top: 100%;
            z-index: -1;
            border-left: 3px solid $green;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid $green;
        }

        &:after{
            content: "";
            position: absolute; right: 0px; top: 100%;
            z-index: -1;
            border-left: 3px solid transparent;
            border-right: 3px solid $green;
            border-bottom: 3px solid transparent;
            border-top: 3px solid $green;
        }

        &--red{
            
            background: $red;
            background: linear-gradient($red2 0%, $red 100%);

            &:before{
                border-left: 3px solid $red;
                border-top: 3px solid $red;
            }

            &:after{
                border-right: 3px solid $red;
                border-top: 3px solid $red;
            }
            
        }
    }

    
}