<div #entry></div>
<backpanel   [color]="model.line" image="both"></backpanel>

<div @appear3 class="project" *ngIf="model.id!==''">
    <ribbon  [visible]="ribbonVisible"  text="FINISHED" style="ribbon__text--red"></ribbon>
    <div class="project__header">
        <h3 class="project__subheading">
            {{model.updatedAt | date: 'dd.MM.yyyy' }} - {{model.domain}}
        </h3>
        <h1 class="project__heading">
            {{model.name}}
        </h1>
    </div>
    <div class="project__block">
        <div class="project__block-item">
            <p class="project__h">Alexander Rusov</p>
            <p class="project__sh">Head of online sales and after-sales cluster</p>
            <p class="project__h">Dietmar Bernreuther</p>
            <p class="project__sh">Project manager</p>
        </div>
        <div class="project__block-item">
            <p class="project__h">TOPICS</p>
            <p class="project__sh">
                Online Sales,  BMW,  Scrum,  Angular,  Typescript,  Oracle,
                Automotive, Agile
            </p>
        </div>
    </div>
    <div class="project__block" [ngClass]="{'project__block--flex':!model.image}">
        <div class="project__block-item">
            <p class="project__t">
                {{model.description}}
            </p>
        </div>
        <div *ngIf="model.image" class="project__block-item">
            <slider [(image)]="model.image"></slider>
        </div>      
    </div>

    <h1 class="project__heading  project__heading--small">
        Details
    </h1>

    <div class="project__block project--mb90">
            <div class="project__block-item">
                <p class="project__t project__t--small project__mb10">Project duration:
                    <span class="project__bold project__bold--nohover">{{model.startdate | date: 'dd.MM.yyyy'}}</span>
                    <span class="project__bold project__bold--nohover" *ngIf="model.enddate"> - {{model.enddate | date: 'dd.MM.yyyy'}}</span>
                </p>
                <p *ngIf="model.program" class="project__t project__t--small project__mb10">Program:
                    <a (click)="searchProjects('program',model.program)" class="project__bold">{{model.program}}</a>
                </p>
                <p *ngIf="model.domain" class="project__t project__t--small project__mb10">Domain:
                    <a (click)="searchProjects('domain',model.domain)"  class="project__bold">{{model.domain}}</a>
                </p>
                <p *ngIf="language.length>0" class="project__t project__t--small project__mb10">Project language:
                    <a (click)="searchProjects('technologies',l.name)" class="project__bold" *ngFor="let l of language">
                        {{l.name}}
                    </a>
                </p>
                <p *ngIf="methodology.length>0" class="project__t project__t--small project__mb10">Methology:
                    <a (click)="searchProjects('technologies',m.name)" class="project__bold" *ngFor="let m of methodology">
                        {{m.name}}
                    </a>
                </p>
                <p *ngIf="model.customer" class="project__t project__t--small">Customer:
                    <a (click)="searchProjects('customer',model.customer)" class="project__bold">{{model.customer}}</a>
                </p>

                <p *ngIf="backend.length>0" class="project__t project__t--small project__mt30 project__mb10">Back-end</p>
                <chip *ngFor="let tech of backend" 
                      (linkClicked)="searchProjects('technologies',$event)"
                      [isLink]="true"
                      [value]="tech.name" 
                      style="horizontal"></chip>

                <p *ngIf="frontend.length>0" class="project__t project__t--small project__mt30 project__mb10">Front-end</p>
                <chip *ngFor="let tech of frontend" 
                      (linkClicked)="searchProjects('technologies',$event)"
                      [isLink]="true"
                      [value]="tech.name" 
                      style="grey"></chip>

                <p *ngIf="information.length>0" class="project__t project__t--small project__mt30 project__mb10">Information</p>
                <chip *ngFor="let info of information" 
                      [value]="info" 
                      style="sap"></chip>
            </div>

            <div class="project__block-item">
                <p class="project__h project__mb30">TEAM</p>
                <list-item  *ngFor="let schedule of model.schedules" 
                            [clickable]="false" 
                            [roles]="[schedule.role]"
                            [model]="schedule">
                </list-item>
            </div>
        </div>
</div>

<app-footer @appear3 [color]="model.line">
        <a [routerLink]="['/project/update', model.id]" 
           class="footer__button"
           pTooltip="Edit project" tooltipPosition="top">
            <img src="./../../assets/images/edit.png" alt="edit">
        </a>
        <a pTooltip="Create copy" tooltipPosition="top" [routerLink]="['/project/copy', model.id]" class="footer__button">
            <img src="./../../assets/images/edit.png" alt="edit">
        </a>
        <a pTooltip="Project history" tooltipPosition="top" [routerLink]="['/project/history', model.name]" class="footer__button">
            <img src="./../../assets/images/history.png" alt="powerpoint">
        </a>      
        <a pTooltip="Generate presentation" tooltipPosition="top" (click)="createPresentation()" class="footer__button">
            <img src="./../../assets/images/powerpoint.png" alt="powerpoint">
        </a>
        <a pTooltip="Upload image" tooltipPosition="top" (click)="showUpload()" class="footer__button">
            <img src="./../../assets/images/image.png" alt="exel">
        </a>
        <a pTooltip="Delete Project" tooltipPosition="top" (click)="archieveProject()" class="footer__button">
            <img src="./../../assets/images/delete.png" alt="delete">
        </a>
</app-footer>