@import './../../../../../assets/style/colors.scss';
@import './../../../../../assets/style/mixins.scss';


.project-confirmation{

    &__content{
        padding: 20px;
        overflow-y: auto;
        max-height: 600px;
        @include boxSizing();
    }
}