@import './../../../../assets/style/colors.less';
@import './../../../../assets/style/mixins.less';

.technology-picker{
    
        &__wrapper{
            border: 1px solid #dddddd;
            height: 291px;
            overflow-y: auto;
            overflow-x: hidden;
            text-align: left;
            .boxSizing();
        }

        :host ::ng-deep  &--pad10{
            padding: 10px;
        }

        :host ::ng-deep &--no-border{
            border: none;
        }

        :host ::ng-deep &--no-padding{
            padding: 10px 0;
        }

        :host ::ng-deep &--height400{
            height: 400px;
        }
    }