@import './../../../../assets/style/colors.scss';
@import './../../../../assets/style/mixins.scss';

.technology-picker{
    
        &__wrapper{
            border: 1px solid #dddddd;
            height: 291px;
            overflow-y: auto;
            overflow-x: hidden;
            text-align: left;
            @include boxSizing();
        }

        &__button{
            background-color: $text_white;
            color:$green_main;
            cursor: pointer;
            display: block;
            font-family: ProximaRegularLight;
            font-size: 16px;
            border: 2px solid $green_main;
            margin-bottom: 20px;
            padding: 0 5px;
            text-decoration: none;
            text-align: center;
            @include boxSizing();
            @include transition(all .3s);

            &:hover{
                border-color: $green_main_hover;
                background-color: $text_white;
                color:$green_main_hover;
            }
        }

        :host ::ng-deep  &--pad10{
            padding: 10px;
        }

        :host ::ng-deep &--no-border{
            border: none;
        }

        :host ::ng-deep &--no-padding{
            padding: 10px 0;
        }

        :host ::ng-deep &--height400{
            height: 400px;
        }

        :host ::ng-deep &--hidden{
            display: none;
        }
    }