@import './../../../../assets/style/colors.less';
@import './../../../../assets/style/mixins.less';

.filter-item{
    display: inline-block;
    text-decoration: none;
    line-height: 26px;
    margin-right: 20px;
    vertical-align: top;
    cursor: pointer;
}