@import './../../../assets/style/colors.scss';
@import './../../../assets/style/mixins.scss';


.admin-container{
    display: block;
    position: absolute;
    background-color: $grey_bg;
    height: 100%;
    top: 60px;


    padding: 20px 40px 0 40px;

    width:100%;
    @include boxSizing();
}


.navigation{
    background-color: $text_white;

    width: 100%;
    height: 40px;

    @include boxShadow(0 3px 3px 0 rgba(0,0,0,0.50));
    @include boxSizing();
    @include flex-display();
    @include align-items(center);

    &__link{
        border-right: 1px solid $border;
        font-family: ProximaRegularLight;
        font-size: 16px;
        color:$text_navigation;
        height: 100%;
        line-height: 40px;
        vertical-align: middle;

        padding: 0 10px;
        text-decoration: none;

        @include boxSizing();
        @include transition(all .3s);

        &:hover,&--active{
            background-color: #8FCFF9;
            color:$text_white;
        }
    }
}