<div #entry></div>
<backpanel  [color]="model.line" image="both"></backpanel>

<div class="project project-history--height100">
    <div class="project__header">
        <h3 class="project__subheading">
            {{model.updatedAt | date: 'dd.MM.yyyy' }} - 
            {{model.name}} history of changes         
        </h3>
    </div>

    <div class="project-history__container">
            <div *ngIf="projects.length===1" class="project-history__message">
                There is only one version for this project.
            </div>
            <panel *ngFor="let project of projects; let i = index;" 
                    [panelVisible]="i!==projects.length-1"
                    [panelOpened]="i===0">
                <span header class="panel__name">{{project.name}}</span>
                <p header class="panel__info panel__info--ib">
                    version:
                    <span>{{project.version}}</span>
                </p>
                <div content class="panel__legend">
                    <!-- <div class="panel__legend-item">
                        <div class="panel__legend-color"></div>
                        <span class="panel__legend-text">Removed</span>
                    </div>
                    <div class="panel__legend-item">
                        <div class="panel__legend-color panel__legend-color--added"></div>
                        <span class="panel__legend-text">Added</span>
                    </div> -->
                    <div class="panel__legend-item">
                        <div class="panel__legend-color panel__legend-color--edited"></div>
                        <span class="panel__legend-text">Edited</span>
                    </div>
                    <filter-item [withTooltip]="true" 
                                 filterStyle="filter-item--right"
                                 wrapperStyle="tooltip__wrapper--right"
                                 tooltipStyle="filter-item__tooltip--right" 
                                 name="dots">
                        <p class="filter-item__tooltip-i">
                            <img src="./../../assets/images/compare.png" alt="">
                            Compare with version:                            
                        </p>
                        <select class="filter-item__dropdown" name="version" id="version" [(ngModel)]="v" 
                               (ngModelChange)="onChange($event,projects[i===projects.length-1 ? i : i+1],project)">
                            <option *ngFor="let v of versions" value="{{v}}">{{v}}</option>
                        </select>
                    </filter-item>
                </div>
                <div content class="panel__col">
                    <project-modal [project]="project"
                                   [compareProject]="projects[i===projects.length-1 ? i : i+1]"></project-modal>
                </div>
                <div content class="panel__col panel__col--noborderL">
                    <project-modal [project]="projects[i===projects.length-1 ? i : i+1]"
                                   [compareProject]="project"
                    ></project-modal>
                </div>
            </panel>
    </div>
</div>

