<modal windowStyle="modal--small" [visible]="visible">
    <div header class="delete__header">
        <h3 class="delete__status">Delete item?</h3>
    </div>
    <div content class="delete__content">
        <p class="delete__line">
            Would you really like to delete {{type}} <b>{{name}}</b>?
        </p>
    </div>

    <div footer class="delete__footer">
        <button (click)="cancel()" value="Cancel" class="delete__button delete__button--white" >Cancel</button>
        <button (click)="archieve()" value="Archieve" class="delete__button" >Archieve</button>
        <button (click)="delete()" value="Yes" class="delete__button" >Delete</button>
    </div>
</modal>