<modal windowStyle="modal--small">
    <div header class="error__header">
        <h3 class="error__status">{{error.status}}</h3>
        <h3 class="error__text">{{error.statusText}}</h3>
    </div>
    <div content class="error__content">
        <span class="error__image">X</span>
        <p class="error__line" *ngFor="let er of error.errors">
            {{er}}
        </p>

        <a class="error__link" *ngIf="action" (click)="performAction()">Redirect to newest version</a>
    </div>
</modal>