<div class="header" [@flyInOut]>
    <a href="/" class="header__logo">
        <img class="header__logo" src="./../../assets/images/logo.svg" alt="logo header__logo">
    </a>

    <div class="navigation header__navigation">
        <a href="" class="navigation__item navigation__item--active">Projects</a>
        <a href="" class="navigation__item">Employees</a>
        <a href="" class="navigation__item">Blog</a>
        <a href="" class="navigation__item">Statistik</a>
        <a href="" class="navigation__item">Technologies</a>
        <a href="" class="navigation__item">Help</a>
    </div>
</div>