<div class="admin-container">
    <div class="navigation">
        <a [routerLink]="['/admin', { outlets: { content:'technologies' }}]" 
           class="navigation__link"
           routerLinkActive="navigation__link--active">
           Technologies
        </a>
        <a [routerLink]="['/admin', { outlets: { content:'roles' }}]" 
           class="navigation__link"
           routerLinkActive="navigation__link--active">
           Roles
        </a>
        <a routerLink="/admin/employees" class="navigation__link" 
           class="navigation__link"
           routerLinkActive="navigation__link--active">
           Employees
        </a>
        <a routerLink="/admin/projects" class="navigation__link" 
           class="navigation__link"
           routerLinkActive="navigation__link--active">
           Projects
        </a>
    </div>

    <router-outlet name="content"></router-outlet>
</div>

<!-- ['/admin', { outlets: { primary: 'folder/inbox', pane: null } }] -->


