<div class="admin-technology">
    <form class="admin-form" [formGroup]="form" (ngSubmit)="addTechnology()">
        <div class="admin-form__control">
            <div class="admin-form__error" *ngIf="exists">Technology already exists</div>
            <input maxlength="30" placeholder="Name" type="text" formControlName="name" class="admin-form__input">
        </div>
        <div class="admin-form__control">
             <div class="admin-form__error" *ngIf="invalid">Invalid image</div>
             <input placeholder="Image"  formControlName="image" type="text" class="admin-form__input">
        </div>
        <div class="admin-form__control">
            <select class="admin-form__select" formControlName="domain">
                <option value="">Select domain</option>
                <option *ngFor="let domain of domains" value="{{domain}}">{{domain}}</option>
            </select>
        </div>
        

        <!-- <input placeholder="Version" formControlName="version" type="text" class="admin-form__input"> -->

        <!-- <p-fileUpload #fubauto mode="basic"
                      name="demo[]" 
                      url="./upload.php" 
                      accept="image/png" 
                      maxFileSize="1000000" 
                      chooseLabel="Upload Image"
                      auto="true"
                      (onSelect)="checkSelectedTechnologies()"
                      (onUpload)="checkSelectedTechnologies()"></p-fileUpload> -->
        <button 
            class="admin-form__button admin-form__button--floatR"
            type="submit"
            [disabled]="form.invalid">
            ADD
        </button>
    </form>

    <!-- <div>
        <select class="role-form__select">
            <option value="">Select technology</option>
            <option *ngFor="let tech of techNames" value="{{tech}}">{{tech}}</option>
        </select>
        
    </div> -->

    <div class="admin-technology__block" *ngFor="let domain of technologies | keys">
        <h1 class="admin-technology__header">{{domain}}</h1>
        <chip  *ngFor="let tech of technologies[domain]" 
                      [value]="tech.name" 
                      [image]="tech.image"
                      
                      style="horizontal chip--height30">
                <delete-button style="delete-button--chip"
                    (clicked)="deleteTech(tech.id)">
                </delete-button> 
        </chip>
    </div>
</div>


<!-- [clickable]="true" 
                      (clicked)="chipClicked()" -->