@import './../../../../assets/style/colors.scss';
@import './../../../../assets/style/mixins.scss';


.admin-technology{
    width: 100%;

    &__block{
        display: inline-block;
        width: 100%;
        
        margin: 20px 0;
        @include boxSizing();
        
    }


    &__header{
        font-family: ProximaRegularBold;
        color:$text_h;
        font-size: 24px;
        margin: 0 0 10px 0;
    }
}