<div class="admin-technology">
    <form class="role-form" [formGroup]="form" (ngSubmit)="addTechnology()">
        <input placeholder="Name" type="text" formControlName="name" class="role-form__input">
        <input placeholder="Version" formControlName="version" type="text" class="role-form__input">
        <select class="role-form__select" formControlName="domain">
            <option value="">Select domain</option>
            <option *ngFor="let domain of domains" value="{{domain}}">{{domain}}</option>
        </select>

        <button 
            type="submit"
            [disabled]="form.invalid">
            ADD
        </button>
    </form>

    <div>
        <select class="role-form__select">
            <option value="">Select technology</option>
            <option *ngFor="let tech of techNames" value="{{tech}}">{{tech}}</option>
        </select>
        <p-fileUpload mode="basic"
                      name="demo[]" 
                      url="./upload.php" 
                      accept="image/*" 
                      styleClass="{{true ? sap : horizontal}}"
                      maxFileSize="1000000" 
                      chooseLabel="Upload Image"
                      (onSelect)="checkSelectedTechnologies()"
                      (onUpload)="checkSelectedTechnologies()"></p-fileUpload>
    </div>

    <div class="admin-technology__block" *ngFor="let domain of technologies | keys">
        <h1 class="admin-technology__header">{{domain}}</h1>
        <chip  *ngFor="let tech of technologies[domain]" 
                      [value]="tech.name +' '+ tech.version" 
                      [image]="tech.image"
                      style="horizontal chip--height30">
            
            <delete-button style="delete-button--chip"
                (clicked)="deleteTech(tech.id)">
            </delete-button> 
        </chip>
    </div>
</div>