<div class="project-modal">
    <span  class="project-modal__name">
        Version {{project.version}}
        <span>{{project.updatedAt | date: 'dd.MM.yyyy' }}</span>
    </span>

    <p  class="project-modal__info">
        Project name:
        <span class="{{this.validator['name']}}">{{project.name}}</span>
    </p>
    <p class="project-modal__info">
        Production line:
        <span class="{{this.validator['line']}}">{{project.line}}</span>
    </p>
    <p class="project-modal__info">
        Domain:
        <span class="{{this.validator['domain']}}">{{project.domain}}</span>
    </p>
    <p class="project-modal__info">
        Customer:
        <span class="{{this.validator['customer']}}">{{project.customer}}</span>
    </p>
    <p class="project-modal__info">
        Start date:
        <span class="{{this.validator['startdate']}}">{{project.startdate | date: 'dd.MM.yyyy'}}</span>
    </p>
    <p class="project-modal__info">
        End date:
        <span class="{{this.validator['enddate']}}">{{project.enddate | date: 'dd.MM.yyyy'}}</span>
    </p>
    <p class="project-modal__info">
        Description:
        <span class="{{this.validator['description']}} project-modal--description">{{project.description}}</span>
    </p>
    <p class="project-modal__info project-modal--margin1020" *ngIf="project.technologies.length>0">
        <span class="{{this.validator['technologies']}}">Technologies:</span>
        <chip *ngFor="let tech of project.technologies" [value]="tech.name" style="grey"></chip>
    </p>
    <p class="project-modal__info project-modal--margin1020" *ngIf="project.schedules.length>0">
        <span class="{{this.validator['schedules']}}">Team:</span>
        <list-item  *ngFor="let schedule of project.schedules" 
            [clickable]="false" 
            itemStyle="list-item--picker" 
            [model]="schedule.employee">
            <input (click)="stopAction($event)" [(ngModel)]="schedule.participation" class="list-item__input">
        </list-item>
    </p>
</div>

