<div class="project-modal">
    <span  class="project-modal__name">Version {{project.version}}</span>
    <p  class="project-modal__info">
        Project name:
        <span>{{project.name}}</span>
    </p>
    <p class="project-modal__info">
        Production line:
        <span>{{project.line}}</span>
    </p>
    <p class="project-modal__info">
        Domain:
        <span class="project-modal--edited">{{project.domain}}</span>
    </p>
    <p class="project-modal__info">
        Customer:
        <span>{{project.customer}}</span>
    </p>
    <p class="project-modal__info">
        Start date:
        <span>{{project.startdate | date: 'dd.MM.yyyy'}}</span>
    </p>
    <p class="project-modal__info">
        End date:
        <span>{{project.enddate | date: 'dd.MM.yyyy'}}</span>
    </p>
    <p class="project-modal__info">
        Description:
        <span>{{project.description}}</span>
    </p>
    <p class="project-modal__info" *ngIf="project.technologies.length>0">
        Technologies:
        <chip *ngFor="let tech of project.technologies" [value]="tech.name" style="grey"></chip>
    </p>
    <p class="project-modal__info" *ngIf="project.schedules.length>0">
        Team:
        <list-item  *ngFor="let schedule of project.schedules" 
            [clickable]="false" 
            itemStyle="list-item--picker" 
            [model]="schedule.employee">
            <input (click)="stopAction($event)" [(ngModel)]="employee.participation" class="list-item__input">
        </list-item>
    </p>
</div>

