@import './../../../../assets/style/colors.scss';
@import './../../../../assets/style/mixins.scss';


.project-modal{
    width: 100%;

    :host ::ng-deep &__name{
        display: inline-block;
        font-family:ProximaRegular;
        font-size:16px;
        color:$text_h;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 100%;

        span{
            float: right;
            font-size: 14px;
            color:$text_second2;
        }
    }

    :host ::ng-deep &__info{
        font-family:ProximaRegularLight;
        font-size:16px;
        color:#9d9d9d;
        display: block;
        margin: 0;
        margin-right: 20px;
        margin-bottom: 10px;

        span{
            color:$text_h;
            
        }

        &--ib{
            display: inline-block;
        }

        
    }

    &__h{
        margin-bottom: 15px;
        display: inline-block;
    }

    &--edited{
        background-color: #FFEE58;
        padding: 3px;
        @include borderRadius(5px);
    }

    &--description{
        line-height: 150%;
    }

    &--added{
        background-color: #CDE9E1;
        padding: 3px;
        @include borderRadius(5px);
    }

    &--removed{
        background-color: #FFCDD2;
        padding: 3px;
        @include borderRadius(5px);
    }

    &--margin1020{
        margin-bottom: 10px;
        margin-top: 20px;
    }
}