@import './../../../assets/style/colors.scss';
@import './../../../assets/style/mixins.scss';

.button{
    background-color: $green_main;
    color: $text_white;
    cursor: pointer;
    display: inline-block;
    font-family: ProximaRegularLight;
    font-size: 18px;
    border: 2px solid $green_main;
    line-height: 50px;
    height: 54px;
    padding: 0 20px;
    text-decoration: none;
    text-align: center;
    vertical-align: 54px;
    @include boxSizing();
    @include transition(all .3s);

    &:hover{
        background-color: $green_main_hover;
    }

    &--white{
        background-color: $text_white;
        color:$green_main;

        &:hover{
            border-color: $green_main_hover;
            background-color: $text_white;
            color:$green_main_hover;
        }
    }


    &--action{
        display: inline-block;
        width: 56px;
        height: 56px;
        line-height: 52px;
        font-size: 30px;
        text-align: center;
        position: fixed;
        bottom: 20px;
        right: 20px;

        @include borderRadius(50%);
        @include boxShadow(0 2px 4px 0 rgba(0,0,0,0.50));
    }

    :host ::ng-deep &--grey{
        background-color: $grey_bg;
        border-color: $grey_bg;
        color: $text_body;

        &:hover{
            background-color: $grey;
        }
    }

    &--disabled{
        cursor: default;
        pointer-events: none;
        color: $text_second2;
    }
}