@import './../../../assets/style/colors.less';
@import './../../../assets/style/mixins.less';




.checkbox {
    position: absolute;
    display: inline-block;
    right: 15px;


    &__check{
        position:absolute;
        z-index:10;
        margin:-13px 0 0 4px;
        opacity:0;
        
    }


    &__label{
        font-family:ProximaRegular;
        font-size:12px;
        color:@text_h;
        letter-spacing:0px;
       
        
    }

}

.checkbox__check + .checkbox__label:before{
    background-color:@text_white;
    content:"";
    display:inline-block;
    border:2px solid @text_h;
    border-radius:3px;
    font-size:23px;
    color:@text_h;
    height:18px;
    width:18px;
    line-height:18px;
    margin: 0 10px 0 0;
    text-align:center;
    vertical-align:middle;             
}


.checkbox_check:checked + .checkbox__label:before{
    content: "\2713";
}