<div class="project-item">
    <div class="project-item__header">
        <a [routerLink]="['/project', model.id]">
            <img src="./../../assets/images/{{model.line}}.png" alt="{{model.line}}">
        </a>
    </div>
    <div class="project-item__content">
        <h3 class="project-item__name">{{model.name}}</h3>
        <p class="project-item__domain">{{model.domain}}</p>
        <p class="project-item__description">{{model.description}}</p>
    </div>
    <div class="project-item__footer">
        <p class="project-item__team">
            <img src="./../../assets/images/people.svg" alt="people">
            {{model.schedules.length}}
        </p>

        <p class="project-item__modified">{{model.updatedAt | date: 'dd.MM.yyyy'}}</p>
    </div>
</div>