
<div class="slider" *ngIf="image">
    <div *ngIf="withSugar" class="slider__block  slider--left">
        <img class="slider__decoration" src="./../../assets/images/image-left.png" alt="left">
    </div>
    <div class="slider__block">
        <img class="slider__main" src="{{fullpath}}" alt="team">
        <h1 *ngIf="withSugar" class="slider__header">I am <b>T</b> count on me!</h1>
    </div>
    <div *ngIf="withSugar" class="slider__block  slider--right">
        <img class="slider__decoration" src="./../../assets/images/image-right.png" alt="left">
    </div>
</div>