@import './../../../assets/style/colors.scss';
@import './../../../assets/style/mixins.scss';


.slider{
    display: flex;
    justify-content: center;
    
    @include boxSizing();

    &__header{
        display: block;
        margin: 0;
        font-family: ProximaRegularThin;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 40px;
        line-height: 40px;
        background-color:rgba(226, 0, 116, .4);
        
        width: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
        @include boxSizing();

        b{
            font-family: ProximaRegular;
        }
    }

    &__block{
        text-align: center;
        height: 100%;
        max-height: 250px;
        @include boxSizing();
        position: relative;
    }
    &__main{
        max-width: 370px;
        max-height: 250px;
        
    }

    &--left, &--right{
        width: 48px;
        height: 236px;
        margin: auto 0;
    }
}