@import './../../../assets/style/colors.less';
@import './../../../assets/style/mixins.less';

.chip{
    display: inline-block;
    font-family:ProximaRegular;
    font-size:14px;
    color:@text_body;
    padding: 5px 10px;
    background-color: #DDDDDD;
    height: 26px;
    position: relative;

    margin: 0 10px  10px 0;

    .borderRadius(14px);
    .boxSizing();
    .transition(all .3s);

    &__image{
        position: absolute;
        top:50%;
        margin-top: -11px;
        height: 22px;
        width:21px;
        float: left;
        margin-right: 5px;

    }

    &--clicked{
        background-color: @hor_bg;
    }

    &--clickable{
        cursor: pointer;
    }

    &--ml27{
        margin-left: 27px;
    }

    &--added{
        background-color: #CDE9E1;
    }

    &--removed{
        background-color: #FFCDD2;
    }
}


.item--edited{
    background-color: #FFEE58;
}