<backpanel  color="grey-bg" image="left">
    <app-input id="search" [complete]="complete" 
                           placeholder="Search projects" 
                           clearStyle="input__clear--right20"
                           wrapperStyle="backpanel__search"
                           (onModelChanged)="filterProjects($event)"></app-input>
</backpanel>



<div @appear3 class="project-list">
    <filter-panel>
        <filter-item (onFilterAction)="onFilterAction($event)" name="view"></filter-item>
        <filter-item [withTooltip]="true" (onFilterAction)="onFilterAction($event)" name="export">
                <p class="filter-item__tooltip-i" (click)="hello()">
                    <img src="./../../assets/images/powerpoint.png" alt="">
                    Powerpoint
                </p>
                <p class="filter-item__tooltip-i" (click)="hello()">
                    <img src="./../../assets/images/exel.png" alt="">
                    Excel
                </p>
        </filter-item>
        <filter-item [withTooltip]="true" [tooltipVisible]="tooltipVisible" (onFilterAction)="onFilterAction($event)" name="sort">
            <p class="filter-item__tooltip-i" (click)="onFilterAction('name')">Sort by name</p>
            <p class="filter-item__tooltip-i" (click)="onFilterAction('line')">Sort by production line</p>
            <p class="filter-item__tooltip-i" (click)="onFilterAction('teamcount')" >Sort by team size</p>
            <p class="filter-item__tooltip-i" (click)="onFilterAction('dateModified')">Sort by date modified</p>       
        </filter-item> 
        <filter-item [withTooltip]="true" [tooltipVisible]="tooltipVisible" (onFilterAction)="onFilterAction($event)" name="filter">
            <div>Hello</div>    
        </filter-item>  
    </filter-panel>
    <project-item *ngFor="let project of projects" [model]="project"></project-item>
</div>