<modal>
    <div class="modal__header {{model.line}}" header>
        <img class="modal__image--line" *ngIf="model.line!=='grey'" src="./../../assets/images/{{model.line}}.png" alt="modal.line">
        <img class="modal__image"  src="./../../assets/images/Create Image.png" alt="create">     
    </div>
    <div class="modal__content" content>
        <div class="modal__content-block">
                <app-input id="name" 
                    placeholder="Project name" 
                    boxStyle="input--small"
                    label="Project name"
                    clearStyle="input__clear--right20 input__clear--top30"
                    wrapperStyle="input--width100 input--marginB20"></app-input>

                <dropdown id="line" 
                          label="Production line"
                          [options]="options"
                          wrapperStyle="dropdown--marginB20"
                          [model]="model.line"
                          (changed)="changeLine($event)"></dropdown>

                <dropdown id="domain" 
                          label="Domain"
                          [options]="options2"
                          [model]="model.domain"></dropdown>
        </div>
        <div class="modal__content-block">
                <app-input id="start" 
                    placeholder="Project start" 
                    boxStyle="input--small"
                    label="Project start"
                    clearStyle="input__clear--right20 input__clear--top30"
                    wrapperStyle="input--width100 input--marginB20"></app-input>

                <app-input id="end" 
                    placeholder="Project end" 
                    boxStyle="input--small"
                    label="Project end"
                    clearStyle="input__clear--right20 input__clear--top30"
                    wrapperStyle="input--width100 input--marginB20"></app-input>

                <app-input id="Customer" 
                    placeholder="Customer" 
                    boxStyle="input--small"
                    label="Customer"
                    clearStyle="input__clear--right20 input__clear--top30"
                    wrapperStyle="input--width100"></app-input>                   
        </div>
        <div class="modal__content-block modal__content-block--fullwidth  modal__content-block--maxH163">
            <app-input id="Description" 
                placeholder="Description" 
                
                label="Description"
                controlType="textbox"
                clearStyle="input__clear--right20 input__clear--top30"
                wrapperStyle="input--width100"></app-input>
        </div> 
        <div class="modal__content-block">
            <p class="modal__h modal--mb20">
                TEAM    
            </p>   
            <app-input id="Search" 
                placeholder="Search employee" 
                boxStyle="input--small"
                clearStyle="input__clear--right20 input__clear--top30"
                wrapperStyle="input--width100"
                (onModelChanged)="filterEmployees($event)"></app-input>

            <div class="modal__wrapper">
                <list-item  *ngFor="let employee of model.employees" itemStyle="list-item--picker" [model]="employee">
                    <checkbox [model]="false"></checkbox>
                </list-item>
            </div>
        </div>   
        <div class="modal__content-block">
            <p class="modal__h modal--mb20">
                TECHNOLOGIES    
            </p> 
            <app-input id="Search" 
                placeholder="Search technology" 
                boxStyle="input--small"
                clearStyle="input__clear--right20 input__clear--top30"
                wrapperStyle="input--width100"
                (onModelChanged)="filterTechnologies($event)"></app-input>

            <div class="modal__wrapper modal--pad10">
                <chip *ngFor="let tech of model.technologies" 
                      [value]="tech.name"
                      [clickable]="true" 
                      style="grey"
                      [active] ="tech.active"
                      (clicked)="selectTechnology($event)"></chip>
            </div>
        </div>
    </div>       
    
</modal>

<backpanel  color="grey-bg" image="left">
    <app-input id="search" [complete]="complete" 
                           placeholder="Search projects" 
                           clearStyle="input__clear--right20"
                           wrapperStyle="backpanel__search"
                           (onModelChanged)="filterProjects($event)"></app-input>
</backpanel>


<div @appear3 class="project-list">
    <filter-panel>
        <filter-item (onFilterAction)="onFilterAction($event)" name="view"></filter-item>
        <filter-item [withTooltip]="true" (onFilterAction)="onFilterAction($event)" name="export">
                <p class="filter-item__tooltip-i" (click)="hello()">
                    <img src="./../../assets/images/powerpoint.png" alt="">
                    Powerpoint
                </p>
                <p class="filter-item__tooltip-i" (click)="hello()">
                    <img src="./../../assets/images/exel.png" alt="">
                    Excel
                </p>
        </filter-item>
        <filter-item [withTooltip]="true" [tooltipVisible]="tooltipVisible" (onFilterAction)="onFilterAction($event)" name="sort">
            <p class="filter-item__tooltip-i" (click)="onFilterAction('name')">Sort by name</p>
            <p class="filter-item__tooltip-i" (click)="onFilterAction('line')">Sort by production line</p>
            <p class="filter-item__tooltip-i" (click)="onFilterAction('teamcount')" >Sort by team size</p>
            <p class="filter-item__tooltip-i" (click)="onFilterAction('dateModified')">Sort by date modified</p>       
        </filter-item> 
        <filter-item [withTooltip]="true" [tooltipVisible]="tooltipVisible" (onFilterAction)="onFilterAction($event)" name="filter">
            <div>Hello</div>    
        </filter-item>  
    </filter-panel>
    <project-item [@fadeIn]="''" *ngFor="let project of projects" [model]="project"></project-item>

    <app-button value="+" style="button--action"></app-button>
</div>