<div #entry></div>

<div class="new-project">
        <p-growl [(value)]="msgs" [life]="4000"></p-growl>
    <div class="new-project__header {{model.line || 'grey'}}">
        <img class="new-project__image--line" *ngIf="model.line" src="./../../assets/images/{{model.line}}.png" alt="new-project.line">
        <img class="new-project__image"  src="./../../assets/images/Create Image.png" alt="create">     
    </div>
    <div class="new-project__content">
        <div class="new-project__content-block">
                <app-input id="name" 
                    placeholder="Project name" 
                    boxStyle="input--small"
                    label="Project name"
                    [name]="name"
                    [errorMessage]="model.errors['name']"
                    [model]="model.name"
                    (onModelChanged)="setValue($event,'name')"
                    clearStyle="input__clear--right20 input__clear--top30"
                    wrapperStyle="input--width100 input--marginB20"></app-input>

                <dropdown id="line" 
                          label="Production line"
                          [options]="lines"
                          wrapperStyle="dropdown--marginB20"
                          [model]="model.line"
                          [errorMessage]="model.errors['line']"
                          (changed)="changeLine($event);setValue($event,'line')"></dropdown>

                <dropdown id="domain" 
                          label="Domain"
                          [options]="domains"
                          [model]="model.domain"
                          [errorMessage]="model.errors['domain']"
                          (changed)="setValue($event,'domain')"></dropdown>
        </div>
        <div class="new-project__content-block">

                <label class="ui-calender-label">
                    Project start
                    <span class="ui-calender-label__error">{{model.errors['startdate']}}</span>
                </label>
                <p-calendar placeholder="Project start" 
                            [style]="{'margin-bottom':'20px'}" 
                            inputStyleClass="{{styleClass}}"
                            [(ngModel)]="model.startdate" 
                            (onSelect)="setValue($event,'startdate')"
                            dateFormat="dd.mm.yy"
                            [monthNavigator]="true" 
                            [yearNavigator]="true" 
                            yearRange="1995:2030"></p-calendar>
                
                <label class="ui-calender-label">Project end</label>
                <p-calendar placeholder="Project end" 
                            [style]="{'margin-bottom':'20px'}"  
                            [(ngModel)]="model.enddate" 
                            (onSelect)="setValue($event,'enddate')"
                            dateFormat="dd.mm.yy"
                            [monthNavigator]="true" 
                            [yearNavigator]="true" 
                            yearRange="1995:2030"></p-calendar>


                <app-input id="Customer" 
                    placeholder="Customer" 
                    boxStyle="input--small"
                    label="Customer"
                    [model]="model.customer"
                    (onModelChanged)="setValue($event,'customer')"
                    clearStyle="input__clear--right20 input__clear--top30"
                    wrapperStyle="input--width100"></app-input>                   
        </div>
        <div class="new-project__content-block new-project__content-block--fullwidth  new-project__content-block--maxH163">
            <app-input id="Description" 
                placeholder="Description" 
                label="Description"
                controlType="textbox"
                [model]="model.description"
                [errorMessage]="model.errors['description']"
                (onModelChanged)="setValue($event,'description')"
                clearStyle="input__clear--right20 input__clear--top30"
                wrapperStyle="input--width100"></app-input>
        </div> 
        
        <div class="new-project__content-block">
            <employee-picker (onSelect)="setValue($event,'schedules')"></employee-picker>
        </div>   
        <div class="new-project__content-block">
            <technology-picker [selectedTechnologies]="model.technologies" (onSelect)="setValue($event,'technologies')"></technology-picker>
        </div>
    </div> 
    <div class="new-project__footer">
        <app-button (click)="back()" value="CANCEL" style="button--white" ></app-button>
        <app-button (click)="showPreview()" value="SHOW PREVIEW" style="button--grey" ></app-button>
        <app-button (click)="changeProject()" [disabled]="!allowSubmit" value="SUBMIT" style="" ></app-button>
    </div>
</div>