@import './../../../assets/style/colors.less';
@import './../../../assets/style/mixins.less';

.footer{
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    position: fixed;
    
    text-align: center;
    z-index: 300;
    bottom:-100px;
    .boxSizing();
    .transition(all .4s);

    &__button{
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        height: 40px;
        width:40px;
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
        margin-right: 10px;
        position: relative;

        background-color: @text_white;
        .borderRadius(50%);

        img{
            display: inline-block;
            height: 24px;
            position: absolute;
            top:50%;
            left: 50%;
            margin-left: -10px;
            margin-top: -12px;
        }
    }

    &--visible{
        bottom: 0;
    }
}