@import 'variables';
@import 'mixins';
// Import Telekom fonts
@import 'fonts';
// Override bulma overrides
@import './bulma-overrides';

@import './typography';
@import './forms';

body {
  font-size: $base-font-size;
}

.title{
  &.is-7 {
    font-weight: 900;
  }

  &.is-6{
    font-weight: bold;
  }

  &.is-5{
    font-weight: 500;
  }

  &.is-4 {
    font-weight: normal;
  }

  &.is-size-12 {
    font-size: 12px;
  }

  &.is-size-14{
    font-size: 14px;
  }

  &.is-size-16{
    font-size: 16px;
  }

  &.is-size-19{
    font-size: 19px;
  }

  &.is-secondary {
    color: $text-secondary;
  }
}

.centered {
  @include centered;
}

.button.is-large {
  border-color: $magenta-dark;
}


.input {
  &-box {
    border: 1px solid $border-color;
    border-radius: 2px;
    font-size: 16px;
    height: 30px;
    padding-right: $input-padding;
    outline: none;
    width: 100%;

    &.with-image {
      padding-left: 26px;
    }
  }

  &-image {
    left: $input-padding;
    position: absolute;
  }
}
