@import 'variables';
@import 'mixins';
// Import Telekom fonts
@import 'fonts';
// Override bulma overrides
@import './bulma-overrides';

body {
  font-size: $base-font-size;
}

.title{
  &.is-6{
    font-weight: bold;
  } 

  &.is-5{
    font-weight: 500;
  }

  &.is-size-16{
    font-size: 16px;
  }
}

.centered {
  @include centered;
}

.button.is-large {
  border-color: $magenta-dark;
}
