// Colors
$magenta: #C41065;
$magenta-dark: #A00053;
$white: #FFFFFF;
$light-black: #262626;
$text-color:#383838;
$text-secondary:#7C7C7C;
$lite-grey:#EDEDED;

// Font sizes
$small-font-size: 15px;
$base-font-size: 18px;

// Header
$header-height:65px;
$header-bar-height: 82px;

//Shared
$top-border-height:5px;
$side-padding:20px;
$telekom-radius: 4px;
