// Colors
$magenta: #E20074;
$magenta-dark: #A00053;
$white: #FFFFFF;
$light-black: #262626;

// Font sizes
$small-font-size: 15px;
$base-font-size: 18px;

// Header
$header-bar-height: 82px;
$header-height: $header-bar-height * 2;

$telekom-radius: 4px;
