<modal windowStyle="modal--small" [visible]="visible">
    <!-- <div header class="file__header">
        <h3 class="file__status">Upload image</h3>
    </div> -->
    <div content class="file__content">
        <p-fileUpload name="image" 
                      url="/api/images/add/" 
                      (onSelect)="onSelect($event)" 
                      (onUpload)="onUpload($event)"
                      (onBeforeUpload)="onBeforeUpload($event)"
                      (onClear)="onClear($event)"
                      [multiple]="false" 
                      accept="image/*" 
                      maxFileSize="1000000"
                      (onError)="onError($event)">
            <ng-template pTemplate type="content"> 
                              
                <ul class="file__list" *ngIf="uploadedFiles.length">                       
                    <li class="file__item" *ngFor="let file of uploadedFiles">
                        <img class="file__image" [src]="file.objectURL" alt="">
                        <span>{{file.name}}</span> 
                        <span>{{file.size | filesize}}</span>
                    </li>                        
                </ul>
            </ng-template> 
          
        </p-fileUpload>

        <div class="file__uploads">
            <div class="file__uploads-item">
                <img class="file__image" 
                alt="" 
                *ngIf="project.image  && !uploadedFiles.length" 
                src="./server/images/{{project.image}}"
                alt="">
            </div>
            <div class="file__uploads-item file__uploads--center">
                <a class="file__button" *ngIf="project.image && !uploadedFiles.length" (click)="removeImage()">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Remove Image
                </a> 
            </div>              
        </div>       
    </div>
</modal>