<modal windowStyle="modal--small" [visible]="visible">
    <!-- <div header class="file__header">
        <h3 class="file__status">Upload image</h3>
    </div> -->
    <div content class="file__content">
        <p-fileUpload name="image" 
                      url="/api/images/add/" 
                      (onSelect)="onSelect($event)" 
                      (onUpload)="onUpload($event)"
                      [multiple]="false" 
                      accept="image/*" 
                      maxFileSize="1000000"
                      (onError)="onError($event)">
            <ng-template pTemplate type="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">
                        <img [src]="file.objectURL" width="300" height="200" alt="">
                        {{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>        
        </p-fileUpload>
    </div>
</modal>