<modal windowStyle="modal--small" [visible]="visible">
    <!-- <div header class="file__header">
        <h3 class="file__status">Upload image</h3>
    </div> -->
    <div content class="file__content">
        <p-fileUpload name="image" 
                      url="/api/images/add/" 
                      (onSelect)="onSelect($event)" 
                      (onUpload)="onUpload($event)"
                      (onBeforeUpload)="onBeforeUpload($event)"
                      (onClear)="onClear($event)"
                      [multiple]="false" 
                      accept="image/*" 
                      maxFileSize="1000000"
                      (onError)="onError($event)">
            <ng-template pTemplate="toolbar">
                <a *ngIf="project.image" (click)="removeImage()">Remove Image</a>
            </ng-template>
            <ng-template  type="content"> 
                 
            </ng-template>
            <ng-template pTemplate type="content"> 
                              
                <ul *ngIf="uploadedFiles.length">                       
                    <li *ngFor="let file of uploadedFiles">
                        <img [src]="file.objectURL" width="300" height="200" alt="">
                        {{file.name}} - {{file.size}} bytes</li>
                        
                </ul>
            </ng-template> 
          
        </p-fileUpload>

        <img width="300" 
             height="200" 
             alt="" 
             *ngIf="project.image  && !uploadedFiles.length" 
             src="./server/images/{{project.image}}"
             alt="">       
    </div>
</modal>